@page "{accountId?}"
@model Web_Bank.Pages.CustomerAccounts.TransactionsModel
@{
}

<div class="container-fluid px-4">
    <input id="accountid" type="hidden" asp-for= "@Model.AccountId"/>
    <input id="customerid" type="hidden" asp-for= "@Model.CustomerId"/>
    <table id="table" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Operation</th>
                <th>Date</th>
                <th>Amount</th>
                <th>New Balance</th>
            </tr>
        </thead>
        <tbody id = "tbody">
        
        </tbody>
        <caption>
            <div class="text-center py-3">
                <a href="#" class="btn btn-primary" id="btnShowMoreLess">view more</a>
                <a class="btn btn-primary" asp-route-customerId="@Model.CustomerId" asp-page="../CustomerAccounts/Index">Back</a>
            </div>
        </caption>
    </table> 
</div>

@section Scripts{
        <script>
            $(function () {
                getdata();
                            
            });
            function getdata() {
                var ids = $('#accountid').val();
                $.ajax({
                    type: "GET",
                    url: "/CustomerAccounts/Transactions?handler=FetchInfo&id=" + ids,
                    contentType:'Application/json',
                    dataType: "json",
                    success: function (data) {
                        
                        console.log(data);
                        var tbody = $('#tbody');
                        var rows = "";
                        
                            for (var i = 0; i < data.length; i++) {
                                rows = "<tr class=info><td>" + data[i].id + "</td>"
                                     + "<td>" + data[i].type + "</td>"
                                     + "<td>" + data[i].operation + "</td>"
                                     + "<td>" + data[i].date + "</td>"
                                     + "<td>" + data[i].amount + "</td>"
                                     + "<td>" + data[i].newBalance + "</td> </tr>"
                                     tbody.append(rows);
                            }
                        $("#table #tbody").find("tr:gt(20)").hide();
                        var ss = $("#table").find('.info').length;
                        
                    },
                    failure: function (response) { alert(response.d); },
                    error: function (response) { alert(response.d); }
                });
                
                
                $('#btnShowMoreLess').on("click", function () {
                    if ($(this).text() == 'view more') {
                        $(this).text('view less');
                        $('#table #tbody').each(function () {
                            $(this).find("tr").show();
                        });
                    } else {
                        $(this).text('view more');
                        $('#table #tbody').each(function () {
                            $(this).find("tr:gt(20)").hide();
                        });
                    }
                });
                    
               
                            
                   
                
            }
        </script>
}