@page
@model Web_Bank.Pages.CustomerAccounts.WithdrawModel
@{
}
<div class="container">        
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Withdraw</h3>
                </div>
                <div class="card-body">
                    <form class="row g-3" method="post" asp-page-handler="Update">
                        <div class="input-group mb-3">
                            <select class="form-select" id="myDropdown" asp-items="Model.Accounts">
                                <option selected>Select your account</option>
                            </select>
                            <input type="hidden" id ="accountid" asp-for="AccountId"/>
                        </div>
                        <div class="input-group mb-3">
                            <label class="form-label">Amount to withdraw: </label>
                          <input type="text" asp-for="Amount" class="form-control" aria-label="">                                                    
                          <span class="input-group-text">$</span>
                        </div>
                        @*<div class="mb-3">
                          <label class="form-label">Comments</label>
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>*@
                        <div class="input-group">
                            <input class="form-control" type="text" value="This Account's' Balance is"  aria-label="" disabled readonly>
                            <span class="input-group-text" id="balance"></span>
                            <span class="input-group-text">$</span>
                            
                        </div>
                        <div class="card-footer text-center py-3">
                            <button id="withdrawSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Withdraw</button>
                            <button id="withdrawSubmit" asp-page="Login" class="w-100 btn btn-lg btn-primary">Back</button>                   
                </div>
                    </form>
                    </div>
                    
                
                
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        const select = document.getElementById('myDropdown');
        
        select.addEventListener('change', function handleChange(event) {
          
          selectedItem = select.options[select.selectedIndex].value;

          fetch('/CustomerAccounts/Withdraw?handler=FetchInfo&id=' + selectedItem)
          .then( response => response.json() )
            .then( response => {
                
                document.getElementById('balance').innerHTML= response.balance;
                document.getElementById('accountid').value = response.currentaccountid;
                
            } );

        });        
    </script>
}