@page
@model Web_Bank.Pages.Customer.NewModel
@{
}
<div class="container-fluid px-4">
    <h1>Create</h1>

    <h4>Customer</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Givenname" class="control-label"></label>
                    <input asp-for="Input.Givenname" class="form-control" />
                    <span asp-validation-for="Input.Givenname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Surname" class="control-label"></label>
                    <input asp-for="Input.Surname" class="form-control" />
                    <span asp-validation-for="Input.Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Streetaddress" class="control-label"></label>
                    <input asp-for="Input.Streetaddress" class="form-control" />
                    <span asp-validation-for="Input.Streetaddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.City" class="control-label"></label>
                    <input asp-for="Input.City" class="form-control" />
                    <span asp-validation-for="Input.City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Zipcode" class="control-label"></label>
                    <input asp-for="Input.Zipcode" class="form-control" />
                    <span asp-validation-for="Input.Zipcode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Country" class="control-label"></label>
                    <input asp-for="Input.Country" class="form-control" />
                    <span asp-validation-for="Input.Country" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.CountryCode" class="control-label"></label>
                    <input asp-for="Input.CountryCode" class="form-control" />
                    <span asp-validation-for="Input.CountryCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.NationalId" class="control-label"></label>
                    <input asp-for="Input.NationalId" class="form-control" />
                    <span asp-validation-for="Input.NationalId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.TelephoneCountryCode" class="control-label"></label>
                    <input asp-for="Input.TelephoneCountryCode" class="form-control" />
                    <span asp-validation-for="Input.TelephoneCountryCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Telephone" class="control-label"></label>
                    <input asp-for="Input.Telephone" class="form-control" />
                    <span asp-validation-for="Input.Telephone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.EmailAddress" class="control-label"></label>
                    <input asp-for="Input.EmailAddress" class="form-control" />
                    <span asp-validation-for="Input.EmailAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Birthday" class="control-label"></label>
                    <input asp-for="Input.Birthday" class="form-control" />
                    <span asp-validation-for="Input.Birthday" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary"> Create </button>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>
</div>